<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="contenedor-horizontal">
                <img class="MercadoLiebre" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"/>        
              <div class="barra_icono">
                <input class="input_busqueda" type="search" placeholder='Buscar producto o marca'>
                <i class="fa-solid fa-magnifying-glass"></i>                
              </div>
            
              <h3 class="subtitulo" ><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h3>   
                  
        </div>   
              <nav class="conteiner_listas">
                    <ul class="listas-site">                    
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>

                    <ul class="listas-nav">
                        <li><a href='register'>Creá tu cuenta</a><i class="fa-solid fa-id-card"  style="margin-left: 5px;"></i></li>                    
                        <li><a href='login'>Ingresá</a><i class="fa-solid fa-right-to-bracket" style="margin-left: 5px;"></i></li> 
                        <li>Mis compras<i class="fa-solid fa-basket-shopping" style="margin-left: 5px;"></i></li>
                    </ul>                 
                </nav>

                <div class="burger-menu">
                    
                    <i class="fas fa-bars"></i>
                    
                </div>
          
    </header>
    <div class="banner">
        <img class="banner-img" src="/images/img-home-banner.jpg" alt="banner"/>
    </div>  
    <main>

             <section>
                <h3 class="titulares">Basado en tu última visita</h3>
                      <div class="all_products">
                          <div class="un_producto">
                            <img class="img_producto" src="/images/img-cafetera-moulinex.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                               <h4  class="precio">
                                $6770
                               </h4>
                               <h4 class="descuento">
                                40% OFF
                               </h4>
                            </div>
                            <h4 class="descripcion">
                                Cafetera Moulinex
                            </h4>
                          </div>
                          <div class="un_producto">
                            <img class="img_producto" src="/images/img-macbook-pro-2019.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <h4 class="precio">
                                         $230000
                                 </h4>
                                  <h4 class="descuento">
                                         20% OFF
                                 </h4>
                            </div>
                            <h4 class="descripcion">
                                MacBook Pro 2019  
                            </h4>
                          </div>
                            <div class="un_producto" class="ocultar-producto">
                            <img class="img_producto"src="/images/img-samsung-galaxy-s10.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $70500
                            </h4>
                            <h4 class="descuento">
                                10% OFF
                            </h4>
                            </div>
                            <h4 class="descripcion">
                                Samsung Galaxy S10
                            </h4>
                          </div>
                            <div class="un_producto" class="ocultar-producto">
                            <img class="img_producto"src="/images/img-tv-samsung-smart.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $23200
                            </h4>
                            <h4 class="descuento">
                                5% OFF
                            </h4>
                            </div>
                            <h4 class="descripcion">
                                SmartTv Samsung 43"
                            </h4>
                          </div>
                      </div>      
             </section>

             <section>
                <h3 class="titulares" >Ofertas</h3>
                      <div class="all_products">
                          <div class="un_producto">
                            
                            <img class="img_producto"src="/images/img-cafetera-moulinex.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $6770
                            </h4>
                            <h4 class="descuento">
                                40% OFF
                            </h4>
                            </div>
                            <h4 class="descripcion">
                                Cafetera Moulinex
                            </h4>
                         </div>
                          <div class="un_producto">  
                            <img class="img_producto"src="/images/img-macbook-pro-2019.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $230000
                            </h4>
                            <h4 class="descuento">
                                20% OFF
                            </h4>
                            </div>
                            <h4 class="descripcion">
                                MacBook Pro 2019  
                            </h4>
                          </div>
                          <div class="un_producto" class="ocultar-producto">
                            <img class="img_producto"src="/images/img-samsung-galaxy-s10.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $70500
                            </h4>
                            <h4 class="descuento">
                                10% OFF
                            </h4>
                            </div>
                            <h4 class="descripcion">
                                Samsung Galaxy S10
                            </h4>
                          </div>
                          <div class="un_producto" class="ocultar-producto">
                            <img class="img_producto"src="/images/img-tv-samsung-smart.jpg"/>
                            <div class="circle-icon">
                            <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                            <h4 class="precio">
                                $23200
                            </h4>
                            <h4 class="descuento">
                                5% OFF
                            </h4>
                            </div>                            
                            <h4 class="descripcion">
                                SmartTv Samsung 43"
                            </h4>
                          </div> 
                      </div>
             </section>

    </main>
    
    <footer>
        <section class="footer">
           <div class="sin-copy">
            <section>
             <i class="fa-solid fa-credit-card"></i>
               <h3>Pagá con tarjeta o en efectivo</h3>
               <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                   puntos de pago. ¡Y siempre es seguro!</h4>
            </section>
            <section>
             <i class="fa-solid fa-gift"></i>
               <h3>Envío gratis desde $ 2.500</h3>
               <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                   productos. Es un beneficio de Mercado Puntos.</h4>
            </section>
            <section>
             <i class="fa-solid fa-user-shield"></i>
               <h3>Seguridad, de principio a fin</h3>
               <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                   porque estás siempre protegid@.</h4>
            </section>
           </div>
            <section>
               <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>                    
            </section>
         
         </section>
    </footer>
</body>
</html>